version: "3.8"

services:
  geth:
    image: ethereum/client-go:alltools-v1.13.15
    container_name: geth-private
    volumes:
      - ./data:/data
      - ./genesis.json:/genesis.json
      - ./password.txt:/password.txt
    ports:
      - "8545:8545"
      - "30303:30303"
    command:
      - geth
      - --datadir
      - /data
      - --networkid
      - "202401"
      - --http
      - --http.addr
      - 0.0.0.0
      - --http.port
      - "8545"
      - --http.api
      - eth,net,web3,personal,miner,admin
      - --allow-insecure-unlock
      - --unlock
      - 0xA1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4E5F6
      - --password
      - /password.txt
      - --mine
      - --verbosity
      - "3"
